<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>File Sizzer</title>
  </head>
  <body>
    <h1>
      Choose a file to see its size
    </h1>
    
    <form id="upload" enctype="multipart/form-data" method="post" action="/upload">
      <input type="file" id="myFile" name="upfile">
      <input type="submit" id="submit">
    </form>
    
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
